<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Imaging" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net45" />
  <package id="BitMiracle.LibTiff.NET" version="2.4.649" targetFramework="net45" />
  <package id="Clipper" version="6.4.0" targetFramework="net45" />
  <package id="clipper_library" version="6.2.1" targetFramework="net45" />
  <package id="com.angusj.Clipper" version="6.4.2" targetFramework="net45" />
  <package id="Guna.UI2.WinForms" version="2.0.3.5" targetFramework="net45" />
  <package id="Microsoft.OData.Core" version="7.13.0" targetFramework="net45" />
  <package id="Microsoft.OData.Edm" version="7.13.0" targetFramework="net45" />
  <package id="Microsoft.Spatial" version="7.13.0" targetFramework="net45" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net45" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net45" />
</packages>